/* media query*/

@media(min-width:768px){
    .container-1 {
        display: flex;
        border:darkorange solid;
        background-color: teal;
        padding: 10px;
        margin: 5px;
        justify-content: center;
        
    }
    
    .container-2 {
        display: flex;
        flex-direction: row;
        height: 400px;
        
    }
}




.box-1 {
    align-content: center;
}

.box-2 {
    border: teal solid;
    background-color: darkorange;
    padding: 10px;
    margin: 5px;
    flex-basis: 50%;
}

.box-3 {
    border:teal solid;
    background-color: darkorange;
    padding: 10px;
    margin: 5px;
    flex-basis: 50%;
}

.header {
    color:black;
    text-align: center;
    font-size: 100px;
    font-family:sans-serif;
}

.body {
    background-color:grey;
}

/*class for the borders*/

.mix {border-style: dotted dashed solid double;}